#schedule-info {
  margin: 20px 0 0 0;
}

#schedule-call-container {
  margin-top: 20px;
}

.schedule-consultation-button {
  width: 250px;
  margin-top: 20px;
}

.schedule-page-only h5 {
  font-size: 20px;
}