#schedule-info {
  margin: 20px 0 0 0;
}

#schedule-buttons-container {
  margin-top: 20px;
  width: 90vw;
}

#schedule-buttons-container h5 {
  margin-top: 5px;
  margin-bottom: 15px;
}

#schedule-buttons-container p {
  margin-bottom: 10px;
}

#schedule-meeting-container h5 {
  padding-left: 15px;
  padding-right: 15px;
}

.schedule-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 0 10px 20px 10px;
  width: 90%;
  border: 1px solid black;
  background: floralwhite;
}

.schedule-button-container button {
  margin-top: 20px;
  width: 200px;
}

.gray-button {
  background: rgb(241, 241, 241);
}

.schedule-page-only h5 {
  font-size: 20px;
}

.flex-responsive-mobile-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 568px) 
and (orientation: landscape) {
  #schedule-buttons-container {
    flex-direction: row;
  }

  .schedule-button-container {
    width: 45%;
  }
}

@media (min-width: 812px) {
  #schedule-buttons-container {
    align-items: initial;
  }

  #schedule-call-container, 
  #schedule-meeting-container {
    max-width: 375px;
  }
}

@media (min-width: 1000px) {
  #schedule-buttons-container {
    margin-top: 50px;
  }
  
  .schedule-button-container {
    width: 45%;
  }
}