#for-questions-text {
  text-align: center;
}

.informative-text {
  font-size: 10px;
  font-style: italic;
}

@media (min-width: 768px) {
  .informative-text {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .informative-text {
    font-size: 14px;
  }
}