.for-questions-text {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .for-questions-text {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .for-questions-text {
    font-size: 16px;
  }
}