h2 {
  padding: 30px 10px 5px 10px;
  margin-top: 0;
}

h4 {
  margin-top: 16px;
}

#life-insurance-calculator-tool-section {
  border: 1px solid black;
  background: floralwhite;
  padding: 20px 0;
  max-width: 90vw;
}

#life-insurance-calculator-intro-text {
  margin-bottom: 30px;
}

.text-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;
}

.italic {
  font-style: italic;
}