#schedule-call-calendar-widget {
  overflow-y: hidden;
}

#schedule-call-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-container {
  width: 90%;
}

.calendly-inline-widget {
  height: 578px;
}