@import url('https://fonts.googleapis.com/css?family=Enriqueta:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

html, body, #root, .App {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit; 
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: 'Enriqueta', serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Nanum Myeongjo', serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
}

#nav-container {
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}