main {
  width: 100%;
}

section,
#introduction-container {
  background: rgb(241, 241, 241);
  padding-top: 35px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  width: 100%;
}

button {
  height: 40px;
  min-width: 100px;
  border: 2px solid black;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  color: grey;
  background: white;
  border: 2px solid grey;
}

a:hover {
  color: rgb(62, 185, 226);
}

#introduction-container {
  padding-top: 45px;
}

#to-sign-up-form-button {
  margin-top: 10px;
}

#homepage-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#to-financial-tools-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#introduction-text {
  margin-top: 15px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-button {
  width: 250px;
}