main {
  width: 100%;
}

section,
#introduction-container {
  background: rgb(241, 241, 241);
  padding-bottom: 30px;
  margin-bottom: 15px;
  width: 100%;
}

button {
  height: 40px;
  min-width: 100px;
  border: 2px solid black;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  color: grey;
  background: white;
  border: 2px solid grey;
}

a:hover {
  color: rgb(62, 185, 226);
}

#introduction-container {
  padding-top: 45px;
}

#to-sign-up-form-button {
  margin-top: 10px;
}
