nav {
  padding: 4px 0;
  background-color: rgb(2, 97, 174);
  color: white;
  height: 32px;
}

#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

#nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
  width: 40px;
  float: left;
  padding-right: 10px;
  font-size: 20px;
  position: relative;
  bottom: 1px;
}

#hamburger:hover {
  cursor: pointer;
}

#nav-logo {
  margin: 0;
  padding-right: 10px;
  font-weight: bold;
}

#nav-login-button {
  margin: 0 0 0 10px;
  padding-right: 5px;
}

#nav-login-button:visited {
  color: white;
}

#nav-dropdown-menu-container {
  text-align: left;
  background: white;
  width: 220px;
  position: absolute;
  right: 0;
  top: 32px;
}

#nav-dropdown-menu-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-left: 4px solid rgb(0, 67, 121);
  border-right: 4px solid rgb(0, 67, 121);
  border-bottom: 4px solid rgb(0, 67, 121);
}

.nav-item:link {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
  color: aliceblue;
}

.nav-item:visited {
  color: white;
}

.nav-dropdown-menu-list-item {
  padding: 5px 0 5px 20px;
  border-top: 4px solid rgb(0, 67, 121);
  background: rgb(2, 97, 174);
  font-weight: bold;
}

.nav-dropdown-menu-list-item:hover {
  background: white;
  color: black;
}

.nav-menu-item-link:link {
  text-decoration: none;
  color: white;
}

.nav-menu-item-link:hover {
  color: rgb(107, 107, 107);
}

.nav-menu-item-link:visited {
  color: white;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

@media (min-width: 1200px) {
  nav {
    height: 41px;
  }

  #nav-dropdown-menu-container {
    width: max-content;
    position: absolute;
    background: none;
    top: 8px;
  }

  #nav-dropdown-menu {
    display: block;
  }

  #nav-logo {
    font-size: 24px;
    padding-left: 30px;
    margin-top: 3px;
  }
  
  #nav-dropdown-menu-list {
    display: flex;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  #nav-login-button {
    margin: 0;
  }
  
  .nav-item:link {
    color: white;
    text-decoration: none;
  }

  .nav-item:hover {
    color: lightgray;
  }
  
  .nav-dropdown-menu-list-item {
    padding-right: 10px;
    border-top: none;
    font-weight: bold;
    background: none;
  }
  
  .nav-dropdown-menu-list-item:hover {
    background: none;
    color: lightgray;
  }

  .nav-menu-item-link {
    height: 30px
  }
  
  .nav-menu-item-link:link {
    text-decoration: none;
    color: white;
  }
  
  .nav-menu-item-link:visited {
    color: white;
  }
}