h5 {
  margin-bottom: 0;
}

#about-financial-services-professional {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-contact-info-container {
  display: flex;
  margin-left: 10px;
}

#contact-info-title {
  margin-right: 5px;
}

#about-professional-image {
  width: 200px;
  height: 250px;
}

.bold {
  font-weight: bold;
}
