h5 {
  margin-bottom: 0;
}

#about-financial-services-professional {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-financial-services-professional h5 {
  margin-top: 20px;
}

#about-contact-info-container {
  display: flex;
  margin-left: 10px;
}

#contact-info-title {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

@media (min-width: 1000px) {
  #about-contact-info-container {
    justify-content: flex-start;
    margin-top: 30px;
  }

  .flex-responsive-tablet-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
  }
}
