nav {
  padding: 1% 0;
  background-color: black;
  color: white;
}

#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

#nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
  width: 40px;
  float: left;
  padding-right: 10px;
}

#nav-logo {
  margin: 0;
  padding-left: 6px;
}

#nav-login-button {
  margin: 0;
  padding-right: 5px;
}

#nav-login-button:visited {
  color: white;
}

#nav-login-button:hover {
  color: lightblue;
}

#nav-dropdown-menu-container {
  text-align: left;
  background: white;
  width: 200px;
}

#nav-dropdown-menu-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  border-left: 4px solid rgb(85, 85, 85);
  border-right: 4px solid rgb(85, 85, 85);
  border-bottom: 4px solid rgb(85, 85, 85);
}

.nav-item:link {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
  color: lightblue;
}

.nav-item:visited {
  color: white;
}

.nav-dropdown-menu-list-item {
  padding: 5px 0 5px 20px;
  border-top: 4px solid rgb(85, 85, 85);
}

.nav-dropdown-menu-list-item:hover {
  background: lightgrey;
}

.nav-menu-item-link:link {
  text-decoration: none;
  color: black;
}

.nav-menu-item-link:hover {
  color: rgb(107, 107, 107);
}

.nav-menu-item-link:visited {
  color: black;
}

.hidden {
  display: none;
}

.show {
  display: block;
}