nav {
  padding: 1% 0;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
  width: 40px;
  float: left;
  padding-right: 10px;
}

#nav-logo {
  margin: 0;
  padding-left: 6px;
}

#nav-login-button {
  margin: 0;
  padding-right: 5px;
}

#nav-login-button:visited {
  color: white;
}

#nav-login-button:hover {
  color: lightblue;
}

.nav-item:link {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
  color: lightblue;
}

.nav-item:visited {
  color: white;
}