#educational-resources-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#educational-resources-container {
  width: 300px;
}

#educational-resources-container ul {
  margin-top: 0;
}

#educational-resources-container li {
  padding-bottom: 5px;
  color: rgb(97, 97, 97);
}

#educational-resources-intro-text p {
  margin-top: 5px;
}

#educational-resources-intro-text p:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

#college-planning-list-header {
  margin: 10px 0;
  color: black;
}

#for-questions-text {
  text-align: center;
}

.left-align-container {
  text-align: left;
  padding: 0 20px;
  margin-left: 20px;
}

.educational-resource {
  text-decoration: underline;
  color: rgb(2, 97, 174);
  font-size: 16px;
  margin: 0;
}

.educational-resource:hover {
  color: rgb(62, 185, 226);
}

.educational-resource-list-header {
  margin-bottom: 10px;
}

.list-of-educational-links a {
  font-size: 16px;
}

.resource-description-text {
  font-size: 12px;
}

.informative-text {
  font-size: 10px;
  font-style: italic;
}

@media (min-width: 414px) {
  #educational-resources-container h3 {
    font-size: 20px;
  }

  #educational-resources-container p {
    font-size: 16px;
  }

  .educational-resource {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  #educational-resources-container {
    width: initial;
    display: flex;
    justify-content: space-evenly;
  }

  #educational-resources-container h3 {
    font-size: 22px;
  } 

  .tablet-column-left,
  .flex-tablet-column-right {
    width: 40%;
  }

  .informative-text {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  #educational-resources-container h3 {
    font-size: 24px;
  } 

  .tablet-column-left {
    width: 65%;
    display: flex;
  }

  .flex-tablet-column-right {
    width: 25%;
  }

  .flex-desktop-column {
    width: 45%;
  }
}